.home-ul {
  display: grid;
  grid-template-columns: repeat(minmax(400px), 2);
  grid-template-rows: repeat(1fr, auto);
  list-style: none;
  /* grid-gap: 1em; */
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 50px;

}

.home-ul li {
  border: 1px solid black;
  padding: 40px;
}

.resume-link {
  text-decoration: none;
}
