.home-ul {
  display: grid;
  grid-template-columns: repeat(minmax(400px), 2);
  grid-template-rows: repeat(1fr, auto);
  list-style: none;
  /* grid-gap: 1em; */
  text-align: center;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 50px;

}

.home-ul li {
  border: 1px solid black;
  padding: 40px;
}

.home-ul li:hover {
  cursor: pointer;
}

.resume-link {
  text-decoration: none;
  color: white;
}


.about-li {
  background: darkred;
  color: white;
}

.skills-li {
  background: black;
  color: white;
}

.contact-li {
  background: #4eb980;
  color: white;
}

.projects-li {
  background: rgb(0, 0, 255);
  color: white;
}

.resume-li {
  background: purple;
}
