.menu {
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
  /* margin-top: 10px; */
  /* margin-right: 10px; */
}


.menu-bars {
  padding: 25px;
  font-size: 40px;
}

.menu-bars:hover {
  cursor: pointer;
}

#navBar-container {
  z-index: 2;
}

.nav-ul {
  position: absolute;
  width: 100%;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  min-height: 100%;
  background: white;
  opacity: .8;
  font-family: 'Stardos Stencil', cursive;
  font-size: 45px;
  z-index: 100;

}
