.menu {
  display: flex;
  font-size: 16px;
  justify-content: flex-end;
}



.menuBars {
  padding: 25px;
  font-size: 40px;
}

.menuBars:hover {
  cursor: pointer;
}

#navBar-container {
  z-index: 2;
}

.navContainer {
  position: fixed;
  width: 100%;
  top: 0;
  min-height: 100%;
  background: white;
  opacity: .93;
  font-family: 'Stardos Stencil', cursive;
  font-size: 45px;
  z-index: 100;
  grid-template-rows: 1fr 5fr;
  display: none;
}

.closeNav {
  font-family: sans-serif;
  text-align: right;
}

.closeNav div {
  padding: 25px;
  font-size: 50px;
}

.closeNav div:hover {
  cursor: pointer;
}

.resumeNav {
  font-family: 'Stardos Stencil', cursive;
  font-size: 45px;
  color: black;
  text-decoration: none;
  display: block;
}

.navUl {
  /* display: grid; */
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-left: 5%;

}

.navUl li:hover {
  cursor: pointer;
}

.navUl a:hover {
  cursor: pointer;
}

.slideInLeft {
  animation-duration: .5s;
  animation-name: leftSlideIn;
}

.slideOutLeft {
  animation-duration: .5s;
  animation-name: leftSlideOut;
}

@keyframes leftSlideIn {
  0% {
    margin-left: -100%;
  }
  100% {
    margin-left: 0%;
  }
}

@keyframes leftSlideOut {
  0% {
    margin-left: 0%;
  }
  100% {
    margin-left: -100%;
  }
}


.liSelector {
  display: inline;
  transition: all 300ms ease-in-out;

}


.liSelector:hover {
  font-size: 60px;
}


.liSelector a:hover {
  font-size: 60px;
}

.liSelector a {
  transition: all 300ms ease-in-out;
}






/* comment */
