/* img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}


.slick-list {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin: auto;
}

.slick-slider {
  width: 500px;
  margin: auto;
}

.slick-next:before, .slick-prev:before {
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: black;
} */
