.all-skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
  list-style: none;
  -webkit-padding-start: 0px;
  max-width: 1200px;
  margin: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  font-size: 15px;
  color: white;
}

.all-skills li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: 1px gray;
  align-items: center;
}

.skill {
  font-size: 50px;

}

.redux-pic {
  /* margin: auto; */
  width: 65px;
  object-fit: cover;
}
@media only screen and (min-width: 600px) {

  .all-skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    margin: auto;
    font-size: 27px;
  }

  .skill {
    font-size: 150px;

  }

  .redux-pic {
    width: 165px;
    height: 150px;
  }
}

@media only screen and (min-width: 1108px) {
  .all-skills {
    /* position:fixed;
    top: 50%;
    left: 50%;
    width:45em;
    height:18em;
    margin-top: -9em;
    margin-left: -23em; */
    padding-top: 100px;
  }
}
